* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background: #42CBA5;
}


header {
    margin: 0 0 50px 0;
    padding: 40px;
    background: #3dbd99;

}

.link {
    color: #F0F2F5;
    margin-left: 30px;
    text-decoration: none;
    font-size: 20px;
    line-height: 20px;
    transition: 0.5s;
    font-weight: 400;
    cursor: pointer;
}

.link:hover {
    color: #4decbf;

}

#botao-link {
    margin-left: 30px;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    background: #F0F2F5;
    cursor: pointer;
    transition: 0.5s;
}

#botao-link:hover {
    background: #dadada;

}

#link-botao {
    text-decoration: none;
    color: #667781;
}

#link-botao:hover {
    color: #42CBA5;
}

main {
    display: inline-block;


}

img {
    margin-left: 50px;
    width: 600px;
    height: 450px;

}

#conteiner {
    display: inline-block;
    margin-left: 50px;

}

h1 {
    font-size: 90px;
    font-weight: 900;
    line-height: 100px;

    color: #20272C;

}

p {
    font-weight: 500;
    font-size: 22px;
    line-height: 29px;
    width: 500px;
    margin-top: 40px;
    margin-bottom: 50px;
    color: #2e4758;
}

#link-main {

    color: #3dbd99;
    font-size: 29px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    background: #F0F2F5;
    cursor: pointer;
    transition: 0.5s;

}

#link-main:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(26, 18, 44, 0.4) 0 2px 4px, rgba(161, 129, 236, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

#link-main:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
    color: rgba(0, 0, 0, 0.65);
}

#link-main:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}


@media screen and (max-width:800px) {
    
    header {
       width: 100%;
       text-align: right;
    }

    .link{
        display: none;
    }

    main{
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0;
        text-align: center;
    }
    
    #conteiner{
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }

    img {
        position: absolute;
        width: 75%;
        height: 235px;
        top: 600px;
        display: block;
        padding: 10px;
    
    }

    h1 {
        font-weight: 900;
        font-size: 30px;
        line-height: 40px;
        text-align: center;
        
        
    }

    p {
        margin: 30px 40px;
        width: auto;
        text-align: center;
    }
}

